/* static/styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}

h1 {
    color: #333;
}

.options {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

a {
    text-decoration: none;
    color: #333;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
}

p {
    font-weight: bold;
}
